.Rhistory
.RData
.Rproj.user/
*.Rproj.user
environment/R-library/
Results_*/
02_inputs/
03_reference/
release/github_candidate/
release/zenodo_candidate/
*.zip
*.tar.gz
*.tar
*.7z
*.RDataTmp
*.knit.md
staging/
build/
_build/
local_inputs/
renv/library/
renv/staging/
renv/local/
environment/R-library-echogo-v014/
